<div class="product-content-main-container">
    <div class="image-text">
        <div class="image">
            <img src="{{'bottle.png' | asset_img_url: '500x'}}"/>
        </div>
        <div class="text">
            <h2>snag your bottle of just suede</h2>
            <p>Our products are chemically engineered for specific materials and our tools are designed for specific surfaces. Clean and protect your kicks with our eco-friendly sneaker cleaners.</p>
        </div>
    </div>
    <div class="text-image">
        <div class="text">
            <h2>snag your bottle of just suede</h2>
            <p>Our products are chemically engineered for specific materials and our tools are designed for specific surfaces. Clean and protect your kicks with our eco-friendly sneaker cleaners.</p>
        </div>
        <div class="image">
            <img src="{{'scrub.png' | asset_img_url: '500x'}}"/>
        </div>
    </div>
    <div class="centered">
        <div class="centered-image">
            <img src="{{'just-suede.png' | asset_img_url: '1000x'}}"/>
        </div>
        <div class="centered-text">
            <h2>snag your bottle of just suede</h2>
            <p>Our products are chemically engineered for specific materials and our tools are designed for specific surfaces. Clean and protect your kicks with our eco-friendly sneaker cleaners.</p>
        </div>
    </div>
    <div class="reviews">
        <h2>see what others are saying</h2>
    </div>
</div>

{% schema %}
    {
        "name":"product content",
        "settings":[],
        "presets":[
            {
                "name":"product content"
            }
        ]
    }
{% endschema %}