<div class="main">
    <div class="black">
        <div class="title-container">
            <div class="one-twenty">HAVE YOUR SHOES</div>
            <div class="one-twenty">LOOKING LIKE THIS</div>
        </div>
    </div>
    <div class="white">

    </div>
    <img src="{{'shoe.png' | asset_img_url:'1000x'}}"/>
</div>

{% schema %}
    {
        "name":"shoe results",
        "settings":[],
        "presets":[
            {
                "name":"shoe results"
            }
        ]
    }
{% endschema %}