$main-color: #d9252a;

.home-page-add-to-cart{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 15px;
    .view{
        color: black;
        padding: 3px 0px;
        background-color: white;
        width: 70px;
        border-radius: 20px;
        font-size: 12px;
        display:flex;
        justify-content: center;
        align-items: center;
        text-decoration: none !important;
        a:hover {
            text-decoration: none !important;
        }
    }
    .add{
        background-color: $main-color;
        padding: 8px;
        min-width: 0;
        height: 30px;
        --border-offset: none;
        border-radius: 50%;
        display:flex;
        justify-content: center;
        align-items: center;
        img {
            width: 15px;
        }
    }
    .add:hover{
        transform: scale(1.1)
    }
}

.metafield-description{
    font-size: 14px;
    font-weight: 100;
}

