.product-information{
    width: 566px;

    h1{
      font-size: 32px;
      line-height: 32px;
      letter-spacing: 1.52px;
      margin: 0;
    }
    h3{
      font-size: 16px;
      line-height: 16px;
      letter-spacing: .76px;
    }
    .price{
      margin: 20px 0;
    }
    .product-description{
      font-size: 16px;
      line-height: 20px;
    }
  }