<div class="standard-form-container">
    <div class="banner-container affiliate-banner">
        <img src="{{ 'sfs-banner.jpg' | asset_url }}" width="{{ image.width }}" height="{{ image.height }}"
            loading="lazy" alt="Soles for Souls Program" />
    </div>
    <div class="form-container">
        <div class="globo-formbuilder" data-id="OTQ3MDc="></div>
    </div>
</div>