<div class="standard-form-container">
    <div class="banner-container restoration-banner">
        <img src="{{ 'sneaker-restoration-banner-v2.webp' | asset_url }}" width="{{ image.width }}" height="{{ image.height }}"
            loading="lazy" alt="Sneaker Restoration Program" />
    </div>
    <div class="form-container">
        <div class="globo-formbuilder" data-id="OTQ3MDU="></div>
    </div>
</div>